# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
out
gen
.gitignore
*.map
node_modules
coverage
**/bundle.js

dist
**/src/spritesmith-generated

*/app/images/generated
*/app/styles/generated
