.photobooth {
  padding: 20px;
  background: #cc3166;
  min-height: 800px;
  overflow: auto;
  text-align: center;

  &__title {
    color: #FFF;
    margin: 10px 20px;
    font-weight: normal;
  }

  &__camera {
    display: inline-block;
  }

  &__canvas-wrapper {
    display: block;
    line-height: 0;
    position: absolute;
    top: 30px;
    left: 35px;
    width: 250px;
    height: 720px;
    overflow: hidden;
  }

  &__canvas {
    margin-left: 9px;
    border: 1px solid rgb(204, 49, 102);
    box-shadow: 0px 0px 13px #941d45;
    transform: translateY(-680px);
    transition: .3s transform cubic-bezier(.53,.33,.51,1.29);
  }

  &__photo-machine {
    position: relative;
    margin: 20px 40px 0 0;
    width: 320px;
    height: 720px;
    display: inline-block;
  }
}

.camera {
  float: left;

  &__frame {
    background: url(~/src/assets/images/phone.png) no-repeat;
    float: left;
    width: 319px;
    height: 582px;
    margin: 30px;
  }

  &__screen {
    width: 238px;
    height: 357px;
    transform: translate(41px, 137px);
    position: relative;

    &.new {
      .camera__stream {
        filter: blur(10px);
        transform: scale(1.2);
      }
      .camera__button {
        display: none;

        &--new {
          display: block;
        }
      }
    }
  }

  &__stream-crop {
    position: absolute;
    width: 238px;
    height: 238px;
    overflow: hidden;
  }

  &__stream {
    position: absolute;
    background: #881a3f;
    left: -40px;
    width: 318px;
    height: 238px;
    transition: filter .2s, transform .2s;
  }

  &__button {
    position: absolute;
    background: #FFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: 0;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    text-align: center;

    &--new {
      display: none;
      background-color: #881a3f;
      left: 83px;
      top: 80px;
      width: 70px;
      height: 70px;
      color: #FFF;
      font-size: 18px;

       &:hover {
        transform: scale(1.1);
        transition: transform .2s, border-color .2s;
      }
    }

    &--shooter {
      bottom: 20px;
      left: 83px;
      width: 70px;
      height: 70px;
      background-color: #000;
      border: 3px solid #FFF;
      color: #fff;
      font-size: 25px;
      font-weight: 100;

      &:hover {
        transform: scale(1.1);
        border-color: #ccc;
        transition: transform .2s, border-color .2s;
      }
    }

    &--renew, &--save {
      bottom: 33px;
      left: 20px;
      width: 45px;
      height: 45px;
      background-color: #000;
      border: 2px solid #fff;
      color: #fff;
      font-size: 10px;

      &:hover {
        transform: scale(1.1);
        border-color: #ccc;
        transition: transform .2s, border-color .2s;
      }
    }
    
    &--save {
      left: auto;
      right: 20px;
    }

    &--disabled {
      border: 2px solid #616161;
      color: #616161;
      cursor: default;

      &:hover {
        transform: scale(1);
        border-color: #616161;
        transition: none;
      }
    }
  }
}

.printer {
  width: 320px;
  height: 30px;
  position: absolute;

  &.printer--bottom {
    top: 32px;
  }

  &__outer {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    position: relative;

    &.printer__outer--top {
      border-radius: 20px 20px 0 0;
      border-bottom: 1px solid #821e40;
    }

    &.printer__outer--bottom {
      border-radius: 0 0 20px 20px;
      border-top: 1px solid #821e40;
    }
  }

  &__inner {
    background-color: #821e40;
    width: 80%;
    position: absolute;
    height: 3px;
    left: 10%;

    &.printer__inner--top {
      bottom: 0;
    }

    &.printer__inner--bottom {
    }
  }
}
