body {
  background: #FFF;
  font-family: sans-serif;
}

.vibration {
  text-align: center;
  width: 600px;
  height: 500px;
  margin: 80px auto;
}

.trigger {
  margin: 80px 10px 0 10px;
}

@import 'photobooth';
