body {
  background: #cc3166;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.vibration-wrap {
  min-height: 900px;
  padding: 10px 0;
  background: url(~/src/assets/images/pattern.png);
}

.vibration {
  text-align: center;
  margin: 0 auto;

  h1 {
    color: pink;
    font-size: 51px;
    text-shadow: 3px 3px 2px #000;
  }

  img {
    border-radius: 50px;
    box-shadow: 0 0 20px 2px #942349;
  }
}

.trigger {
  margin: 80px 10px 0 10px;
}

footer {
  position: absolute;
  padding: 5px 10px;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: rgb(0, 188, 212);

  .footer-title {
    display: block;
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    color: #fff;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      span {
        color: red;
      }
    }
  }
}

@import 'photobooth';
