@import "variables";
@import '~sprite.scss';

body {
	color: $main-color;
	text-align: center;
	background: url(../../images/background.jpg) center;
	background-size: cover;
}

h1 {
	display: inline-block;
	padding: 10rem;
}

p {
	transform: scale(.9);
}

.icon {
	display: block;
	margin: auto;
	@include sprite($icon);
}

.icon-pink{
	display: block;
	margin: auto;
	@include sprite($icon-pink);
}
