@import "variables";

body {
	color: $main-color;
	text-align: center;
	// background: url(../../images/background.jpg) center;
	// background-size: cover;
}

h1 {
	display: inline-block;
	padding: 10rem;
}

p {
	transform: scale(.9);
}
