.content__icon-container--first{
  height: auto;
  width: 26%;
  &.active{
    .icon-container__growing-circle{
      transform: scale(6);
    }
  }
}

.icon-container__dialog, .icon-container__growing-circle{
  margin-top: 10%;
}

.icon-container__dialog{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-container__growing-circle{
  transform: scale(0.1);
  @extend .animateable;
  display: block;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 0;
  right: 0;
}