$translateDistance: 40%;
$widthBetweenPersons: 2%;
$heightBetweenPersons: 12%;

.content__icon-container--second{
  &.active{
    .icon-container__person--left{
      transform: translate(-$translateDistance, $translateDistance);
    }
    .icon-container__person--right{
      transform: translate($translateDistance, -$translateDistance);
    }
  }
}

.icon-container__person{
  position: absolute;
  width: 55%;
  @extend .animateable;
  &--left{
    bottom: $heightBetweenPersons;
    left: $widthBetweenPersons;
  }
  &--right{
    top: $heightBetweenPersons;
    right: $widthBetweenPersons;
  }
}
