$translateDistance: 40%;
$distanceBetweenPersons: 2%;

.content__icon-container--second{
  &.active{
    .icon-container__person--left{
      transform: translate(-$translateDistance, $translateDistance);
    }
    .icon-container__person--right{
      transform: translate($translateDistance, -$translateDistance);
    }
  }
}

.icon-container__person{
  position: absolute;
  width: 55%;
  @extend .animateable;
  &--left{
    bottom: $distanceBetweenPersons;
    left: $distanceBetweenPersons;
  }
  &--right{
    top: $distanceBetweenPersons;
    right: $distanceBetweenPersons;
  }
}
