@import "./reset";

$menuItemColor: #5b4c71;
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: stretch;

  &__item {
    flex: 1 1 auto;
    text-align: center;
    align-self: stretch;
    background-color: $menuItemColor;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIUlEQVQIW2OM8incvGxLvy8DEmBE5sDYcEFkHdhVYjMTAJ06DAbGicqcAAAAAElFTkSuQmCC);
    left: 0;
    width: 0;
    position: relative;
  }
  
  .color-bar {
    position: absolute;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition-duration: 600ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.8,.04,.7,.87);
  }
}

.item {
  &__content {
    z-index: 11;
    position: relative;
    height: 100%;
    cursor: pointer;
  }
}