@import "./reset";
.animateable{
  transition-duration: 1000ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(.8,.04,.65,.97);
}

$menuItemColor: #5b4c71;
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: stretch;

  &__item {
    flex: 1 1 auto;
    text-align: center;
    align-self: stretch;
    background-color: $menuItemColor;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIUlEQVQIW2OM8incvGxLvy8DEmBE5sDYcEFkHdhVYjMTAJ06DAbGicqcAAAAAElFTkSuQmCC);
    left: 0;
    width: 0;
    position: relative;
  }

  .color-bar {
    position: absolute;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    @extend .animateable;
  }
}

.item {
  &__content {
    z-index: 11;
    position: relative;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content__icon-container{
  @extend .animateable;
  position: relative;
  transform: translateY(50%);
  display: inline-block;
  opacity: 0.5;

  &.active{
    opacity: 1;
    .icon-container__growing-circle{
      transform: scale(100);
    }
  }
}

.icon-container__growing-circle{
  @extend .animateable;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.icon-container__person{
  &--left{

  }
  &--right{

  }
}
.icon {
  position: relative;
  width: 60%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
.icon-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

@import "./icons/bars";
@import "./icons/trophy";
