@import "./reset";
.animateable{
  transition-duration: 600ms;
  transition-property: all;
  //transition-timing-function: cubic-bezier(.8,.04,.65,.97);
  //transition-timing-function: cubic-bezier(.94,.1,.81,.5);
  transition-timing-function: cubic-bezier(1,.21,.48,.7);
}

$menuItemColor: #5b4c71;
.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  //height: 100vh;
  height: 300px;
  position: relative;
  align-items: stretch;

  &__item {
    flex: 1 1 auto;
    text-align: center;
    align-self: stretch;
    background-color: $menuItemColor;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIUlEQVQIW2OM8incvGxLvy8DEmBE5sDYcEFkHdhVYjMTAJ06DAbGicqcAAAAAElFTkSuQmCC);
    left: 0;
    width: 0;
    position: relative;
  }

  .color-bar {
    position: absolute;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    //@extend .animateable;
  }
}

.item {
  &__content {
    z-index: 11;
    position: relative;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content__icon-container{
  @extend .animateable;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  display: inline-block;
  opacity: 0.5;
  width: 50%;
  height: 50%;

  &.active{
    opacity: 1;
  }
}

@import "./icons/1-dialog";
@import "./icons/2-persons";
@import "./icons/bars";
@import "./icons/trophy";
