.map__container {
  .leaflet-container {
    width: 100%;
    height: 472px;
  }
}

.column--map-section {
  margin-top: 58px;
}

.map-location-info {
  margin: 2px 17px 10px 17px;
  color: gray;
  font-size: 0.9em;
  padding: 0;

  p {
    margin: 0;
  }

  .fa {
    margin-right: 10px;
  }
}