body {
  background-color: #eee;
}
pre {
  white-space: pre-wrap;
}
.header {
  margin-bottom: 10px;
  padding: 25px;
}
.header__title {
  color: #fff;
  font-size: 2em;
  margin: 0;
}
.header__subtitle {
  font-size: .6em;
  font-weight: normal;
}
.tabs {
  background-color: transparent;

  .tab a {
    color: #01579b;

    &:hover {
      color: #0277bd
    }
  }

  .indicator {
    background-color: #01579b;
  }
}
.page {
  margin: 30px;
}
.code {
  .js, .hljs {
    display: block;
    background-color: #fff;
    padding: 10px;
  }
}
.music-brainz-container {
  background-color: #fff;
  padding: 20px;
}
.average {
  border-bottom: 30px solid #ffa000;
  padding-bottom: 0;
  color: #ffa000;
  width: 70%;
  overflow: hidden;

  &__icon {
    transform: scaleX(-1);
    font-size: 2em;
    font-weight: 100;
    line-height: 0;
  }

  &__main-value {
    margin: 0;
    font-size: 3rem;
    line-height: 1em;
    font-weight: 100;
  }

  &__label {
    font-weight: 300;
    position: relative;
    top: 20px;
  }
}
.track {
  &__length {
    display: block;
    width: 50%;
    height: 30px;
    background-color: #ffca28;
    margin-top: 3px;
  }
  &__value {
    margin-top: 3px;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 100;
    margin-right: 3px;
    color: #fff;
  }
}