.weather-box{
  font-family: 'News Cycle', sans-serif;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
  background-color: #ececec;
  color: #534061;

  h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  }

  ul {
  	list-style:none;
  	padding: 0;
  }
  li {
  	line-height: 1.6em;
  }
}