.weather-box{
  font-family: 'News Cycle', sans-serif;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
  background-color: #ececec;
  color: #534061;

  h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  }

  ul {
  	list-style:none;
  	padding: 0;
  }
  li {
  	line-height: 1.6em;
  }
}

.weather {
  &__card {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    max-width: 400px;
  }

  &__info {
    overflow: auto;
  }

  &__icon-panel {
    display: block;
    float: left;
    position: relative;
    width: 140px;
    height: 140px;
    text-align: center;
  }

  &__icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
  }
  &__data-panel {
    display: block;
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: auto;
  }

  &__row {
    padding: 0;
    margin: 0;

  }

  &__label {
    color: gray;
    margin-right: 4px;
    font-size: 0.9em;
  }

  &__temp {
    font-size: 34px;
  }

  &__desc {
    margin-bottom: 10px;
  }
}